// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss'

body
  /* Background / Darker */
  background: #1e2122

  font-family: Roboto
  font-size: 12px
  font-style: normal
  font-weight: 500
  line-height: 16px
  letter-spacing: 0em
  color: #FFF

/* VPF /cards rollup */
.VPF
  position: relative
  min-width: 1280px
  min-height: 720px
  margin: 0 auto

.left-bar
  /* left-sidebar-base */

  position: absolute
  min-width: 260px
  min-height: 656px
  left: 0px
  top: 64px

  /* Background / Black */
  background: #181b1c

.bg
  background: #1E2122

.header
  /* Header / Training mode */
  display: flex
  align-items: center

  .toggle
    //styleName: Body / Caption;
    font-family: Roboto
    font-size: 12px
    font-style: normal
    font-weight: 500
    line-height: 16px
    letter-spacing: 0em
    text-align: center

    .btn
      padding-top: 0
      padding-bottom: 0
