body {
  
  /* Background / Darker */
  background: #1e2122;
}

/* VPF /cards rollup */
.VPF {
  position: relative;
  min-width: 1280px;
  min-height: 720px;
  margin: 0 auto;

}

.left-bar {
  /* left-sidebar-base */

  position: absolute;
  min-width: 260px;
  min-height: 656px;
  left: 0px;
  top: 64px;

  /* Background / Black */
  background: #181b1c;
}

.header {
  /* Header / Training mode */

  position: absolute;
  width: 1280px;
  height: 64px;
  left: 0px;
  top: 0px;
}
